# Copier ce fichier vers .env.local lorsque les vraies API seront connectées.

NEXT_PUBLIC_APP_NAME=XavPac
# Exemples futurs :
# OPENSKY_USERNAME=
# OPENSKY_PASSWORD=
# WEATHER_API_KEY=
# NOTAM_API_KEY=
